// 画面幅の設定
$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
$xl-width: 1140px;
$xxl-width: 1320px;

// レスポンシブ設定
@mixin sm() {
    @media screen and (max-width: $sm-width) {
        @content;
    }
}

@mixin md() {
    @media screen and (max-width: $md-width) {
        @content;
    }
}

@mixin lg() {
    @media screen and (max-width: $lg-width) {
        @content;
    }
}

@mixin xl() {
    @media screen and (max-width: $xl-width) {
        @content;
    }
}

@mixin xxl() {
    @media screen and (max-width: $xxl-width) {
        @content;
    }
}

// 色の設定
$bg-light-color: #ffffff;
$bg-dark-color: #81d4fa;
$bg-footer-color: #29b6f6;
$text-color: #555555;
$text-white-color: #ffffff;
$title-text-color: #29b6f6;
$accent-color: #ff80ab;
$title-font-family: 'Caveat', 'hannari';
