.container {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $title-font-family;

    @include lg() {
        justify-content: center;
    }

    .logo {
        font-size: 52px;
        cursor: pointer;

        @include lg() {
            font-size: 40px;
        }
    }

    .navigation {
        display: flex;
        gap: 40px;

        @include lg() {
            display: none;
        }

        li {
            font-size: 32px;
            cursor: pointer;
        }
    }
}
