.container {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $title-text-color;

    @include lg() {
        justify-content: center;
    }

    .logo {
        font-size: 60px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        @include lg() {
            font-size: 60px;
        }
    }

    .navigation {
        display: flex;
        gap: 40px;

        @include lg() {
            display: none;
        }

        li {
            font-size: 40px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}
