.container {
    width: 100%;
    padding: 28px;

    @include sm() {
        padding: 0;
    }

    &.dark {
        background: $bg-dark-color;
    }

    &.light {
        background: $bg-light-color;
    }

    .content {
        min-height: 75vh;
        max-width: $xxl-width;
        margin: 0 auto;

        .title {
            font-size: 52px;
            text-align: center;
            padding: 28px;
            font-family: $title-font-family;

            &.dark {
                color: $text-white-color;
            }

            &.light {
                color: $title-text-color;
            }
        }

        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
