.container {
    width: 100%;
    padding: 28px;
    background: $bg-light-color;

    .content {
        min-height: 75vh;
        max-width: $xxl-width;
        margin: 0 auto;

        .title {
            font-size: 28px;
            text-align: center;
            padding: 28px;
        }
    }
}
