.container {
    .aboutContainer {
        text-align: center;
        background: $bg-light-color;
        padding: 40px;
        border-radius: 16px;
        font-size: 20px;

        @include sm() {
            padding: 12px;
            margin-bottom: 48px;
            font-size: 14px;
        }

        p {
            line-height: 60px;

            span {
                font-weight: 600;
                color: $accent-color;
            }
        }
    }

    .serviceContainer {
        display: flex;
        width: 100%;
        text-align: center;

        @include lg() {
            display: block;
        }

        .serviceContainerWrapper {
            width: 50%;
            display: flex;
            justify-content: center;

            @include lg() {
                width: 100%;
            }

            .title {
                font-size: 40px;
                font-family: $title-font-family;
                margin-bottom: 24px;
            }

            .content {
                min-height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;

                .imageContainer {
                    padding: 24px;
                    position: relative;
                    width: 600px;
                    height: 200px;
                    margin-bottom: 20px;

                    @include sm() {
                        width: 300px;
                        height: 120px;
                    }
                }
            }

            &.blog {
                @include lg() {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .companyContainer {
        @include sm() {
            padding: 12px
        }

        table {
            table-layout: auto;
            padding: 40px;
            background: $bg-light-color;
            font-size: 20px;
            border-radius: 16px;

            @include sm() {
                padding: 12px;
                margin-bottom: 48px;
                font-size: 14px;
            }

            tbody {
                tr {
                    th {
                        line-height: 80px;
                        text-align: left;
                        width: 150px;
                    }
                }
            }
        }
    }
}
